=render 'shared/errors', obj: @article
.row
  .col-mxs-12
    =form_for(@article, html: { class: "form-horizontal", role: "form" }) do |f|
      .form-group
        .control-label.col-sm-2
          =f.label :title
        .col-sm-8
          =f.text_field :title, class: 'form-control', placeholder: "Title of article", autofocus: true
      .form-group
        .row
          .col-sm-8.col-sm-offset-2
            =f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb|
              =cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkobox") + cb.text} 
      .form-group
        .control-label.col-sm-2
          =f.label :description
        .col-sm-8
          =f.text_area :description, class: 'form-control', placeholder: "Article body", rows: 10
      .form-group
        .col-sm-10.col-sm-offset-2
          =f.submit class: 'btn btn-primary btn-large'