.row
  .well.col-md-4.col-md-offset-4.center
    %ul.listing
      %li= link_to gravatar_for(user), user_path(user)
      %li Created by:
      %li.article-title= link_to user.username, user_path(user)
      %li
        %small= pluralize(user.articles.count, "article") if user.articles
      -if current_user.admin?
        %li
          = link_to "delete user", user_path(user), method: :delete, data: { confirm: "Are you sure you wat to delete this user?" }, class: "btn btn-xs btn-danger"